body,
h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.btn {
  padding: 0.5rem 2rem;
}

.chat_body {
  display: flex;
  height: 100%;
}
.chat_sidebar {
  width: 200px;
  background-color: cornflowerblue;
}
.chat_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  padding: 2rem;
}
.chat_form {
  /* align-self: flex-end; */
  margin-top: auto;
  width: 100%;
  display: flex;
}
.submitButton {
  margin-left: auto;
  margin-right: 1rem;
}
.chat_input {
  flex: 1;
  margin-right: 2rem;
}
.createdAt {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5rem;
  margin-left: 2rem;
}
.username {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: darkgrey;
}

.login_form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: darkturquoise;
}

.login_form h4 {
  margin-bottom: 2rem;
}
.login_form input {
  height: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.25rem;
}

.chat_messages {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}
.chat_sidebar {
  padding: 2rem 1rem;
}
.room {
  margin-bottom: 2rem;
}
.user_title {
  margin-bottom: 1rem;
}
ul {
  list-style-type: decimal;
}
#messages .logged-user {
  align-items: flex-end;
}

.message-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 0;
}
